.pe-7s-album:before {
  content: $font-var-album;
}

.pe-7s-arc:before {
  content: $font-var-arc;
}
.pe-7s-back-2:before {
  content: $font-var-back-2;
}
.pe-7s-bandaid:before {
  content: $font-var-bandaid;
}
.pe-7s-car:before {
  content: $font-var-car;
}
.pe-7s-diamond:before {
  content: $font-var-diamond;
}
.pe-7s-door-lock:before {
  content: $font-var-door-lock;
}
.pe-7s-eyedropper:before {
  content: $font-var-eyedropper;
}
.pe-7s-female:before {
  content: $font-var-female;
}
.pe-7s-gym:before {
  content: $font-var-gym;
}
.pe-7s-hammer:before {
  content: $font-var-hammer;
}
.pe-7s-headphones:before {
  content: $font-var-headphones;
}
.pe-7s-helm:before {
  content: $font-var-helm;
}
.pe-7s-hourglass:before {
  content: $font-var-hourglass;
}
.pe-7s-leaf:before {
  content: $font-var-leaf;
}
.pe-7s-magic-wand:before {
  content: $font-var-magic-wand;
}
.pe-7s-male:before {
  content: $font-var-male;
}
.pe-7s-map-2:before {
  content: $font-var-map-2;
}
.pe-7s-next-2:before {
  content: $font-var-next-2;
}
.pe-7s-paint-bucket:before {
  content: $font-var-paint-bucket;
}
.pe-7s-pendrive:before {
  content: $font-var-pendrive;
}
.pe-7s-photo:before {
  content: $font-var-photo;
}
.pe-7s-piggy:before {
  content: $font-var-piggy;
}
.pe-7s-plugin:before {
  content: $font-var-plugin;
}
.pe-7s-refresh-2:before {
  content: $font-var-refresh-2;
}
.pe-7s-rocket:before {
  content: $font-var-rocket;
}
.pe-7s-settings:before {
  content: $font-var-settings;
}
.pe-7s-shield:before {
  content: $font-var-shield;
}
.pe-7s-smile:before {
  content: $font-var-smile;
}
.pe-7s-usb:before {
  content: $font-var-usb;
}
.pe-7s-vector:before {
  content: $font-var-vector;
}
.pe-7s-wine:before {
  content: $font-var-wine;
}
.pe-7s-cloud-upload:before {
  content: $font-var-cloud-upload;
}
.pe-7s-cash:before {
  content: $font-var-cash;
}
.pe-7s-close:before {
  content: $font-var-close;
}
.pe-7s-bluetooth:before {
  content: $font-var-bluetooth;
}
.pe-7s-cloud-download:before {
  content: $font-var-cloud-download;
}
.pe-7s-way:before {
  content: $font-var-way;
}
.pe-7s-close-circle:before {
  content: $font-var-close-circle;
}
.pe-7s-id:before {
  content: $font-var-id;
}
.pe-7s-angle-up:before {
  content: $font-var-angle-up;
}
.pe-7s-wristwatch:before {
  content: $font-var-wristwatch;
}
.pe-7s-angle-up-circle:before {
  content: $font-var-angle-up-circle;
}
.pe-7s-world:before {
  content: $font-var-world;
}
.pe-7s-angle-right:before {
  content: $font-var-angle-right;
}
.pe-7s-volume:before {
  content: $font-var-volume;
}
.pe-7s-angle-right-circle:before {
  content: $font-var-angle-right-circle;
}
.pe-7s-users:before {
  content: $font-var-users;
}
.pe-7s-angle-left:before {
  content: $font-var-angle-left;
}
.pe-7s-user-female:before {
  content: $font-var-user-female;
}
.pe-7s-angle-left-circle:before {
  content: $font-var-angle-left-circle;
}
.pe-7s-up-arrow:before {
  content: $font-var-up-arrow;
}
.pe-7s-angle-down:before {
  content: $font-var-angle-down;
}
.pe-7s-switch:before {
  content: $font-var-switch;
}
.pe-7s-angle-down-circle:before {
  content: $font-var-angle-down-circle;
}
.pe-7s-scissors:before {
  content: $font-var-scissors;
}
.pe-7s-wallet:before {
  content: $font-var-wallet;
}
.pe-7s-safe:before {
  content: $font-var-safe;
}
.pe-7s-volume2:before {
  content: $font-var-volume2;
}
.pe-7s-volume1:before {
  content: $font-var-volume1;
}
.pe-7s-voicemail:before {
  content: $font-var-voicemail;
}
.pe-7s-video:before {
  content: $font-var-video;
}
.pe-7s-user:before {
  content: $font-var-user;
}
.pe-7s-upload:before {
  content: $font-var-upload;
}
.pe-7s-unlock:before {
  content: $font-var-unlock;
}
.pe-7s-umbrella:before {
  content: $font-var-umbrella;
}
.pe-7s-trash:before {
  content: $font-var-trash;
}
.pe-7s-tools:before {
  content: $font-var-tools;
}
.pe-7s-timer:before {
  content: $font-var-timer;
}
.pe-7s-ticket:before {
  content: $font-var-ticket;
}
.pe-7s-target:before {
  content: $font-var-target;
}
.pe-7s-sun:before {
  content: $font-var-sun;
}
.pe-7s-study:before {
  content: $font-var-study;
}
.pe-7s-stopwatch:before {
  content: $font-var-stopwatch;
}
.pe-7s-star:before {
  content: $font-var-star;
}
.pe-7s-speaker:before {
  content: $font-var-speaker;
}
.pe-7s-signal:before {
  content: $font-var-signal;
}
.pe-7s-shuffle:before {
  content: $font-var-shuffle;
}
.pe-7s-shopbag:before {
  content: $font-var-shopbag;
}
.pe-7s-share:before {
  content: $font-var-share;
}
.pe-7s-server:before {
  content: $font-var-server;
}
.pe-7s-search:before {
  content: $font-var-search;
}
.pe-7s-film:before {
  content: $font-var-film;
}
.pe-7s-science:before {
  content: $font-var-science;
}
.pe-7s-disk:before {
  content: $font-var-disk;
}
.pe-7s-ribbon:before {
  content: $font-var-ribbon;
}
.pe-7s-repeat:before {
  content: $font-var-repeat;
}
.pe-7s-refresh:before {
  content: $font-var-refresh;
}
.pe-7s-add-user:before {
  content: $font-var-add-user;
}
.pe-7s-refresh-cloud:before {
  content: $font-var-refresh-cloud;
}
.pe-7s-paperclip:before {
  content: $font-var-paperclip;
}
.pe-7s-radio:before {
  content: $font-var-radio;
}
.pe-7s-note2:before {
  content: $font-var-note2;
}
.pe-7s-print:before {
  content: $font-var-print;
}
.pe-7s-network:before {
  content: $font-var-network;
}
.pe-7s-prev:before {
  content: $font-var-prev;
}
.pe-7s-mute:before {
  content: $font-var-mute;
}
.pe-7s-power:before {
  content: $font-var-power;
}
.pe-7s-medal:before {
  content: $font-var-medal;
}
.pe-7s-portfolio:before {
  content: $font-var-portfolio;
}
.pe-7s-like2:before {
  content: $font-var-like2;
}
.pe-7s-plus:before {
  content: $font-var-plus;
}
.pe-7s-left-arrow:before {
  content: $font-var-left-arrow;
}
.pe-7s-play:before {
  content: $font-var-play;
}
.pe-7s-key:before {
  content: $font-var-key;
}
.pe-7s-plane:before {
  content: $font-var-plane;
}
.pe-7s-joy:before {
  content: $font-var-joy;
}
.pe-7s-photo-gallery:before {
  content: $font-var-photo-gallery;
}
.pe-7s-pin:before {
  content: $font-var-pin;
}
.pe-7s-phone:before {
  content: $font-var-phone;
}
.pe-7s-plug:before {
  content: $font-var-plug;
}
.pe-7s-pen:before {
  content: $font-var-pen;
}
.pe-7s-right-arrow:before {
  content: $font-var-right-arrow;
}
.pe-7s-paper-plane:before {
  content: $font-var-paper-plane;
}
.pe-7s-delete-user:before {
  content: $font-var-delete-user;
}
.pe-7s-paint:before {
  content: $font-var-paint;
}
.pe-7s-bottom-arrow:before {
  content: $font-var-bottom-arrow;
}
.pe-7s-notebook:before {
  content: $font-var-notebook;
}
.pe-7s-note:before {
  content: $font-var-note;
}
.pe-7s-next:before {
  content: $font-var-next;
}
.pe-7s-news-paper:before {
  content: $font-var-news-paper;
}
.pe-7s-musiclist:before {
  content: $font-var-musiclist;
}
.pe-7s-music:before {
  content: $font-var-music;
}
.pe-7s-mouse:before {
  content: $font-var-mouse;
}
.pe-7s-more:before {
  content: $font-var-more;
}
.pe-7s-moon:before {
  content: $font-var-moon;
}
.pe-7s-monitor:before {
  content: $font-var-monitor;
}
.pe-7s-micro:before {
  content: $font-var-micro;
}
.pe-7s-menu:before {
  content: $font-var-menu;
}
.pe-7s-map:before {
  content: $font-var-map;
}
.pe-7s-map-marker:before {
  content: $font-var-map-marker;
}
.pe-7s-mail:before {
  content: $font-var-mail;
}
.pe-7s-mail-open:before {
  content: $font-var-mail-open;
}
.pe-7s-mail-open-file:before {
  content: $font-var-mail-open-file;
}
.pe-7s-magnet:before {
  content: $font-var-magnet;
}
.pe-7s-loop:before {
  content: $font-var-loop;
}
.pe-7s-look:before {
  content: $font-var-look;
}
.pe-7s-lock:before {
  content: $font-var-lock;
}
.pe-7s-lintern:before {
  content: $font-var-lintern;
}
.pe-7s-link:before {
  content: $font-var-link;
}
.pe-7s-like:before {
  content: $font-var-like;
}
.pe-7s-light:before {
  content: $font-var-light;
}
.pe-7s-less:before {
  content: $font-var-less;
}
.pe-7s-keypad:before {
  content: $font-var-keypad;
}
.pe-7s-junk:before {
  content: $font-var-junk;
}
.pe-7s-info:before {
  content: $font-var-info;
}
.pe-7s-home:before {
  content: $font-var-home;
}
.pe-7s-help2:before {
  content: $font-var-help2;
}
.pe-7s-help1:before {
  content: $font-var-help1;
}
.pe-7s-graph3:before {
  content: $font-var-graph3;
}
.pe-7s-graph2:before {
  content: $font-var-graph2;
}
.pe-7s-graph1:before {
  content: $font-var-graph1;
}
.pe-7s-graph:before {
  content: $font-var-graph;
}
.pe-7s-global:before {
  content: $font-var-global;
}
.pe-7s-gleam:before {
  content: $font-var-gleam;
}
.pe-7s-glasses:before {
  content: $font-var-glasses;
}
.pe-7s-gift:before {
  content: $font-var-gift;
}
.pe-7s-folder:before {
  content: $font-var-folder;
}
.pe-7s-flag:before {
  content: $font-var-flag;
}
.pe-7s-filter:before {
  content: $font-var-filter;
}
.pe-7s-file:before {
  content: $font-var-file;
}
.pe-7s-expand1:before {
  content: $font-var-expand1;
}
.pe-7s-exapnd2:before {
  content: $font-var-exapnd2;
}
.pe-7s-edit:before {
  content: $font-var-edit;
}
.pe-7s-drop:before {
  content: $font-var-drop;
}
.pe-7s-drawer:before {
  content: $font-var-drawer;
}
.pe-7s-download:before {
  content: $font-var-download;
}
.pe-7s-display2:before {
  content: $font-var-display2;
}
.pe-7s-display1:before {
  content: $font-var-display1;
}
.pe-7s-diskette:before {
  content: $font-var-diskette;
}
.pe-7s-date:before {
  content: $font-var-date;
}
.pe-7s-cup:before {
  content: $font-var-cup;
}
.pe-7s-culture:before {
  content: $font-var-culture;
}
.pe-7s-crop:before {
  content: $font-var-crop;
}
.pe-7s-credit:before {
  content: $font-var-credit;
}
.pe-7s-copy-file:before {
  content: $font-var-copy-file;
}
.pe-7s-config:before {
  content: $font-var-config;
}
.pe-7s-compass:before {
  content: $font-var-compass;
}
.pe-7s-comment:before {
  content: $font-var-comment;
}
.pe-7s-coffee:before {
  content: $font-var-coffee;
}
.pe-7s-cloud:before {
  content: $font-var-cloud;
}
.pe-7s-clock:before {
  content: $font-var-clock;
}
.pe-7s-check:before {
  content: $font-var-check;
}
.pe-7s-chat:before {
  content: $font-var-chat;
}
.pe-7s-cart:before {
  content: $font-var-cart;
}
.pe-7s-camera:before {
  content: $font-var-camera;
}
.pe-7s-call:before {
  content: $font-var-call;
}
.pe-7s-calculator:before {
  content: $font-var-calculator;
}
.pe-7s-browser:before {
  content: $font-var-browser;
}
.pe-7s-box2:before {
  content: $font-var-box2;
}
.pe-7s-box1:before {
  content: $font-var-box1;
}
.pe-7s-bookmarks:before {
  content: $font-var-bookmarks;
}
.pe-7s-bicycle:before {
  content: $font-var-bicycle;
}
.pe-7s-bell:before {
  content: $font-var-bell;
}
.pe-7s-battery:before {
  content: $font-var-battery;
}
.pe-7s-ball:before {
  content: $font-var-ball;
}
.pe-7s-back:before {
  content: $font-var-back;
}
.pe-7s-attention:before {
  content: $font-var-attention;
}
.pe-7s-anchor:before {
  content: $font-var-anchor;
}
.pe-7s-albums:before {
  content: $font-var-albums;
}
.pe-7s-alarm:before {
  content: $font-var-alarm;
}
.pe-7s-airplay:before {
  content: $font-var-airplay;
}
